.site_content_columns {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 70%;
}

.site_content {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 70%;
}

.navigation_two {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 70%;
    gap: 10px;
}

.navigation_two_cell {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    padding: 10px;
    min-width: 200px;
    min-height: 200px;
}

.navigation_two_cell p {
text-align: center;
}

.navigation_two_cell h2 {
    text-align: center;
}

.navigation_two_cell button {
    background: black;
}

.news {
    background: grey;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 60%;
    padding: 10px;
    max-width: 820px;
    margin: 10px;
}
.column {
    max-width: 400px;
    margin: 30px;
}
.paragraf h2{
    color: green;
}

p {
    text-align: justify;
}

.sign_up {
    background: green;
    padding: 20px;
    display: flex;
    color: white;
    justify-content: left;
    flex: 0 0 50%;
}

.sign_up_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}

.contact {
    color: white;
    background: black;
    padding: 20px;
}

button {
    text-align: center;
    color: white;
    background: lime;
    border-radius: 60px;
    border: none;
    padding: 5px;
}