body {
    font-family: Nunito,sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.site_content_columns {
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 70%;
}

.site_content {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin-top: 60px;
    flex-direction: column;
}
.top_navigation {
    display: flex;
    border-bottom: solid black;
    flex-wrap: wrap;
    position: fixed;
    justify-content: space-around;
    background-color: #bababa;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.logo_in_navigation {
    margin-top: 5px;
    margin-left: 10px;
}

.logo_in_navigation img{
    border: 5px;
    height: 50px;
    cursor: pointer;

}

.top_navigation_content {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #bababa;
    justify-content: space-around;
    float: right;
    margin-left: 100px;

}

.top_navigation_content a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 16px;
    background-color: #bababa;
    text-decoration: none;
}

.top_navigation_content a:hover{
    background-color: #ED7E07;
    color: #f2f2f2;
}

.top_navigation_content a.active{
    background-color: grey;
    color: white;
}

.top_navigation_content a.menu_sign_up{
    background-color: #82DD03;
    color: black;
}

.navigation_two {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 70%;
    gap: 20px;

}

.navigation_two_cell {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    padding: 10px;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}
.navigation_two_cell p, h2 {
    text-align: center;
}

.navigation_two_cell button {
    background: black;
}

.news {
    background: #bababa;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin: 10px;
    max-width: 90%;
    align-self: center;
    flex-direction: column;
}
.column {
    max-width: 600px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.column img {
    align-self: center;
    width: 600px;
}

.paragraf h2{
    color: #008f00;
    align-self: flex-start;
}

p {
    text-align: justify;
}

.sign_up {
    background: #008f00;
    padding: 20px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.sign_up_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign_up_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}

.contact {
    color: white;
    background: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.sign_up_button .button {
    width: 150px;
    height: 40px;
    color: black;
    background-color: #82DD03;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: white;
    background: black;
    border-radius: 60px;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.table table {
    border: 3px solid gray;
    width: 100%;
    border-collapse: collapse;
    max-width: 600px;
    padding-bottom: 10px;
}

.table table th, td {
    border: 2px solid gray;
}

.table td {
    padding: 5px;
}

.information {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    max-width: 1000px;
    border-bottom: 2px solid #bababa;
    justify-content: center;
    padding: 10px;
}

.information:last-child {
    border-bottom: none;
}

.all_informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_img {
    justify-content: center;
}

.download_doc{
    background-color: #bababa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    min-width: 200px;
    justify-content: space-evenly;
}

.download_doc .logo_word {
    width: 200px;
}

.download_doc .logo_pdf {
    width: 75px;
}

.info_doc {
    padding: 10px;
}

.document {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    border: #bababa solid 4px;
    max-height: 200px;
}

h1 {
    align-self: center;
}

.info_img img{
    width: 100px;

}
.info_img {
    align-self: center;
}

.sign_up_img {
    display: flex;
    justify-content: center;
}

.sign_up_img img {
    width: 150px;
}

.bottom_menu {
    width: 100%;
}

.map {
    text-align: right;
    height: 600px;
    width: 600px;
}

.google_map{
    overflow: hidden;
    background: none;
    height: 600px;
    width: 600px;
}

.google_map iframe{
    height: 600px;
    width: 600px;
    border: none;
}

.dropdown_menu {
    display: none;
    position: relative;
}

.dropmenu_button {
    display: none;
    background-color: #bababa;
    color: black;
    padding: 20px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #bababa;
    min-width: 160px;
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a.active{
    background-color: grey;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ED7E07;
    color: white;
}

.dropdown_menu:hover .dropdown-content {
    display: block;
}

@media print {
    .top_navigation{
        display: none;
    }

    .bottom_menu {
        display: none;
    }

    .navigation_two {
        display: none;
    }

    .column {
        display: block;
        page-break-inside: auto;
    }

    img {
        page-break-inside: avoid;
    }

    h2 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    .table {
        page-break-inside: avoid;
        padding-top: 2px;
    }

    .document {
        border: none;
    }
}

@media screen and (max-width: 850px) {
    .dropdown_menu {
        display: block;
    }

    .dropmenu_button {
        display: block;
    }

    .top_navigation_content {
        display: none;
    }

}
